html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#D3959B, #BFE6BA); 
    display: flex;
    padding: 16px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex: 1;
}
#left {
    color: white;
    width: 25%;
    margin-right: 0px;
}

#right {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 0px;
}
.appStoreButton {
    width: 100%;
    height: auto;
}

.appIcon {
    width: 100%;
    height: auto;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #D3959B;
    text-decoration: underline;
}