html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#070000, #4C0001, #070000); 
    display: flex;
    padding: 16px;
    flex-direction: column;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex: 1;
}
#left {
    color: white;
    width: 25%;
    margin-right: 0px;
}

#right {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 0px;
}