html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#070000, #4C0001, #070000); 
    display: flex;
    padding: 16px;
}

#container {
    display:flex;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#left {
    margin-left: 25%;
    color: white;
    margin-right: 16px;
    width: 25%;
    margin-right: 0px;
}

#right {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 0px;
}